# database
sql_host=
sql_database=
sql_user=
sql_password=

# redis
redis_host=
redis_port=
redis_db_num=

# misc
seed=42
datetime_format="%Y-%m-%d %H:%M:%S.%f"
command_datetime_format="%H:%M"
display_num_decimal=1
test_display_num_decimal=3
varchar_length=32
time_fsp=6
float_scale=2

# test mode
mode=test
