[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
importmagic = "*"
epc = "*"
pylint = "*"
sqlalchemy = "*"
python-dotenv = "*"
dateparser = "*"
hjson = "*"
redis = "*"
faker = "*"
pymysql = "*"
pandas = "*"
numpy = "*"
discord = "*"
"discord.py" = "*"
quart = "*"
discord-ext-ipc = "*"

[dev-packages]

[requires]
python_version = "3.9"
